*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif ;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 99, 71, 0.4),rgba(255, 99, 71, 0.4));
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fd2e64;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: black;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #fd2e64;
    background: #fd2e64;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media (max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #fd2e64;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: black;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
/*---- chart -----*/
.chart{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}
.row2{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.row3{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.chart-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.chart-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media (max-width: 700px) {
    .row{
        flex-direction: column;
    }
    .row2{
        flex-direction: column;
    }
    .row3{
        flex-direction: column;
    }
    
}

.sub-header{
    height: 30vh;
    width: 100%;
    background-image:linear-gradient() ;
}
.chartMenu {
    width: 100vw;
    height: 40px;
    color: rgba(255, 26, 104, 1);
  }
  .chartMenu p {
    padding: 10px;
    font-size: 20px;
  }
  .chartCard {
    width: 100vw;
    height: calc(70vh - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .chartBox {
    width: 600px;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(255, 26, 104, 1);
    background: white;
  }
